.headercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    flex-direction: column;
}

.formdiv {
    width: 80%;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 50px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

body {
    background-color: #0a1128;
    margin: 0 auto;
    height: 200vh;
    z-index: 99;
}

header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    color: black;
    background: #1282A2;
    margin-bottom: 1%;
    padding: 4px;
    position: sticky;
    flex-direction: row;
    padding: 3px;
}

.headerbutton {
    width: 100%;
    font-size: 150%;
    font-family: Arial;
    border-radius: 4px;
    background-color: #001F54;
    color: white;
    border: none;
    border-radius: 5;
    animation-play-state: paused;
}

.footerlink {
    color: white;
}

.subcontainer {
    margin: 10px;
    min-block-size: 70%;
    width: 470px;
    height: 400px;
    background-color: #034078;
    border-radius: 10px;
}

.headerbutton:hover{
    width: 100%;
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    background-color: #12387b;
    color: white;
    border: none;
    border-radius: 5;
    animation: hoverAnimation 0.4s ease;
}

.aboutlist {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: lightgreen;
}

.mypic {
    width: 200px;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.maincontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    align-self: center;
    border-radius: 40px;
    background-color: #001F54;
    min-width: 300px;
    max-width:100%;
}

ul {
    list-style-type: none;
}

@keyframes hoverAnimation {
    from {
        font-size: 150%;
    }
    to {
        font-size: 160%;
    }
}

label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.input {
    width: 60%;
    height: 200px;
    border-radius: 30px;
    padding: 6px;
    font-size: 24px;
    margin: 15px;
}

.mailinput {
    width: 60%;
    height: 30px;
    border-radius: 30px;
    padding: 6px;
    font-size: 24px;
}

.formdiv {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #001F54;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.headerbutton:hover:after {
    width: 100%;
    font-size: 150%;
    font-family: Arial;
    border-radius: 4px;
    background-color: #001F54;
    color: white;
    border: none;
    border-radius: 5;
    animation-play-state: running;
    animation: hoverAnimation 0.4s ease;
}